@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 400;
  src: url("./assets/fonts/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 700;
  src: url("./assets/fonts/KumbhSans-Bold.ttf");
}
